- if (`${user}` === 'Anonymous') {
  title Hello, Anonymous
- } else {
  title Hello, #{user}
- }
#nav
  .navbar.navbar-inverse.navbar-static-top
    .container
      a.navbar-brand(href='#')
        img(src='images/logger.png', width="30", height="30")
        ul.nav.navbar-nav
          li
            a(href='https://whatezlife.com/dashboard/') Home
          li
            a(href='serverselector') Server Selector
          - if (`${user}` === 'Anonymous') {
              li.navbar-right
                a(href='login') Login
          - } else {
              li.navbar-right
                a(href='logout') Logout
          - }

body.page
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href='css/style.css', rel='stylesheet')
  script(src='js/jquery.min.js')

  h1.text-center.heading Hello, #{user}
  h2.text-center.heading Welcome to Logger's Dashboard!