td {
text-align: left;
border-bottom: 1px solid #ddd;
font-size: 18px;
}

.center {
    margin: auto;
    width: 25%;
    padding: 10px;
}

.center_button {
    margin-left: 37%;
    width: 25%;
    padding: 10px;
}

.heading {
    color:#fafafa;
    text-transform:capitalize;
    font-weight:900;
    margin-top:20px;
  }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.formItems {
    font-size: 16px;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.page {
    background: #23272A
}

.props{
    width:400px;
    height:300px;
    background:#2C2F33;
    margin:20px auto;
    border-radius:4px;
    text-align:center;
    position:relative;
    -moz-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     box-shadow: 0px 0px 28px rgba(0,0,0,.3);
     overflow:hidden;
  }